<app-header></app-header>

<main>
    <section class="main-section pad-70">
        <div class="headline">
            <span>Clinica Veterinária</span>
            <h1>Especializada em animais de pequeno e médio porte</h1>
        </div>
        <img ngSrc="./assets/section1.png" width="669" height="536">
    </section>

    <section class="details pad-70">
        <div class="about">
            <h2>
                TOTALMENTE <br /> 
                DIFERENCIADA
            </h2>
        </div>
        <p>Aqui você encontra medicamentos, banho, tosa, mimos <b>e muito mais</b> para o seu pet.</p>
    </section>
    <section class="cta-section">
        <a href="#more-informations"><app-btn-primary btnTextInput="Fale com nossa equipe"></app-btn-primary></a>
    </section>
    <app-contact></app-contact>
    <section class="more-informations pad-70" id="more-informations">
        <div class="headline">
            <img ngSrc="./assets/01.jpg" width="669" height="536">
            <legend>Variedades de produtos</legend>
        </div>
        <div class="headline">
            <img ngSrc="./assets/02.jpg" width="669" height="536">
            <legend>Banho e tosa com foco no conforto do seu pet</legend>
        </div>
    </section>
</main>